*{margin: 0;}


  /* body {
    height: 3000px;
  } */
  .first{
    height: 100vh;
    background: white;
    
  }

  #video-container{
    position: relative;
    background: white;
    opacity: .2;
    height: 100vh;
  }
  video {
    position: fixed;
    left: 50%;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: 100vh;
    z-index: -100;
    background-size: cover;
    transform: translateX(-50%);
  }
  h1 {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
    z-index: 99;
    font-family: HelveticaNeue, Helvetica, sans-serif;
    font-size:8vmin;
    text-align:center;
    color: white;
  }